<!DOCTYPE html>
<html>

<head>
    <title>Robotics Today Title </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/MainDecor.css">
</head>

<body>
    <div class="header">
        <h1>Новости, статьи и проекты в области робототехники</h1>
        <em>A website made by Khakimov Ramazan</em>
    </div>

    <div class="navbar">
        <a href="/Main">О САЙТЕ</a>
        <a href="/Main/firstArticle">Робототехника в мире</a>
        <a href="/Main/secondArticle">"Робокошки" выполнили 30 тысяч задач в стационарах</a>
        <a class="auth" href="/authorisation">Авторизация</a>
    </div>

    <div class="info">
        <h2>О САЙТЕ</h2>
        <h5><em>сайт был создан 25 февраля 2024 года</em></h5>
<img class="coolImg" src="{{ url_for('static', filename='images/PlanetOfRobots.png')}}" alt="прикольная картинка с роботами для общего описания концепции сайта)0)">        <p class="filling">
            Сайт был создан в ходе учебного знакомства с HTML и CSS и создание многостаночного сайта первых курсов специальности
            "Информационные системы и программирование" Государственного бюджетного профессионального образовательного учреждения города Москвы «Московский колледж управления, гостиничного бизнеса
            и информационных технологий «Царицыно» студентом первого курса группы 23ИС1-2 Хакимовым Рамазаном. На сайт было украдено 2 статьи с других ресурсов, потому что его создатель ленивый негодяй.
            Вот собственно ссылки на эти статьи: <a href="/Main/firstArticle">Робототехника в мире</a>, <a href="/Main/secondArticle">"Робокошки" выполнили 30 тысяч задач в стационарах</a>
        <p>
    </div>


</body>

</html>